@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ddij45');
  src:  url('fonts/icomoon.eot?ddij45#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ddij45') format('truetype'),
    url('fonts/icomoon.woff?ddij45') format('woff'),
    url('fonts/icomoon.svg?ddij45#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-portrait:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e903";
}
.icon-columns:before {
  content: "\e904";
}
.icon-btc:before {
  content: "\e905";
}
.icon-eth:before {
  content: "\e906";
}
.icon-ltc:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-graph:before {
  content: "\e909";
}
.icon-people:before {
  content: "\e90a";
}
.icon-license:before {
  content: "\e90b";
}
.icon-coins:before {
  content: "\e90c";
}
.icon-secure:before {
  content: "\e90d";
}
.icon-athens:before {
  content: "\e90e";
}
.icon-paper:before {
  content: "\e90f";
}
.icon-ups:before {
  content: "\e910";
}
.icon-skype:before {
  content: "\e911";
}
.icon-soc1:before {
  content: "\e912";
}
.icon-soc2:before {
  content: "\e913";
}
.icon-soc3:before {
  content: "\e914";
}
.icon-paper2:before {
  content: "\e915";
}
.icon-settings:before {
  content: "\e916";
}
.icon-people2:before {
  content: "\e917";
}
.icon-cash2:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e919";
}
.icon-soc4:before {
  content: "\e91a";
}
.icon-books:before {
  content: "\e91b";
}
.icon-settings2:before {
  content: "\e91c";
}
.icon-tv:before {
  content: "\e91d";
}
.icon-paper4:before {
  content: "\e91e";
}
.icon-settings3:before {
  content: "\e91f";
}
.icon-cash:before {
  content: "\e920";
}
.icon-question:before {
  content: "\e921";
}
.icon-one:before {
  content: "\e922";
}
.icon-chain:before {
  content: "\e923";
}
